%% == Core ==
{require_otp_vsn, "17|18|19"}.

%% == Erlang Compiler ==
{erl_opts, [debug_info], warnings_as_errors}.

%% == Subdirectories ==
{sub_dirs, ["deps"]}.

{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", "1.1.2"}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "0.6.1"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}}
    ]}.

